*
{
    margin: 0;
    padding: 0;
}

#pagepicker
{
    position:absolute;
    top: 0;
    left: 0;
    width:14em;
    height: 99vh;
    overflow:scroll;
}

#image_container
{
    position: relative;
    display:inline-block;
    margin-left: 15em;
    height: 99vh;
    max-width: calc(99% - 15em);
}

#image
{
    cursor: crosshair;
    border: 1px blue dotted;
    max-height: 100%;
}

.linehere
{
    position: absolute;
    height: 6px;
    width: calc(100% - 2px);
    border: red 1px solid;
    background-color: red;
    opacity: 0.2;
    cursor: pointer;
    overflow: hidden;
}

#submit
{
    width: 100%;
}

#drop_last, #drop_first
{
    width:49%;
    margin-bottom:2px;
}