*
{
    margin: 0;
    padding: 0;
}

#pagepicker
{
    position:absolute;
    top: 0;
    left: 0;
    width:15em;
}

#image_container
{
    position: relative;
    margin-left: 15em;
    width: 550px;
}

#image
{
    cursor: crosshair;
    width: 550px;
    border: 1px blue dotted;
}

.linehere
{
    position: absolute;
    height: 6px;
    width: 100%;
    border: red 1px solid;
    background-color: red;
    opacity: 0.2;
    cursor: pointer;
    overflow: hidden;
}

#submit
{
    width: 100%;
}