*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #303030;
    position: relative;
}

#control_container
{
    margin: 10px auto;
    padding: 40px 20px;
    width: 800px;
    height: 450px;
    background-color: #A0A0A0;
    border-radius: 5px;
    clear:both;
    border: 2px solid black;
    z-index: 0;
}

#image_container, #text_container, #editor
{
    position: relative;
    height: 48%; /*all browsers*/
    height: -moz-calc(50% - 10px); /*firefox*/
    height: calc(50% - 10px); /*IE9 and future*/
    margin:auto;
    border: 2px inset #A0A0A0;
}

#image_container, #text_container
{
    overflow: auto;
    overflow-y: scroll; /*permanent scroll bars if supported*/
    background-color: white;
}

#text_container, #editor
{
    margin-top: 10px;
}

#image_container
{
    text-align: center;
}

#text
{
    position: relative;
}

#editor
{
    display: none;
}

#image_highlight
{
    z_index:1;
    position: absolute;
    border: blue 2px solid;
    width:99%;
    width: -moz-calc(100%-2px);
    width: calc(100%-2px);
    top:130px;
    height: 40px;
    background-color: #A0A0FF;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#image_highlight.wait
{
    display: none;
}

#image_container img
{
    position: relative;
    width: 99%; /*all browsers*/
    width: -moz-calc(100% - 2px);/*firefox*/
    width: calc(100%-2px);/*IE9 and future*/
    height: auto;/*Fix for IE*/
    margin: auto;
    border: 1px solid black;
    z-index:0;
}

#image_container.wait img
{
    width: 30px;
}


#context-image-top, #context-image-bottom
{
    position:relative;
 }


.grayout
{
    position:absolute;
    background-color: #A0A0A0;
    opacity: 0.3;
    z-index:1;
    top:0;
    height:100%;
    width:100%;
    filter: alpha(opacity=20);
}

.line
{
    white-space:pre;
    font-family: 'PT Mono', monospace, sans;
    font-size: 14pt;
    background-color: white;
    color: black;
    padding-left:2em;
    line-height: 1.5;
}

.blank
{
    min-height:21pt;
    background-color: white;
}

.current_line
{
    background-color: #E0E0FF;
}


textarea
{
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2em;
    padding-left: calc(2em - 1px);
    padding-left: -moz-calc(2em - 1px);
    height: 100%;
    font-size: 14pt;
    line-height: 1.5;
    font-family: 'PT Mono', monospace, sans;
    border: none;
    resize: none;
    background-color: #FFFFA0;
}

#close_editor {
    background-color: #FFFFC0;
}



span.error
{
    border-bottom: solid red 2px !important;
}

span.spell, span.warn
{
    border-bottom: solid orange 2px;
}

span.punc
{
    background-color: #A8FFA8;
}

#text_container.nohl span.punc
{
    background-color: transparent;
}

span.stealth
{
    border-bottom: solid green 2px;
}

span.digit
{
    background-color: #82B4FF;
}

#menu_bar
{
    position:relative;
    color:white;
    background-color: #C0C0FF;
    text-align: right;
    padding: 0.25em 1em;
}

#menu_bar_left
{
    position: absolute;
    left: 1em;
    top: 0.25em;
    text-align:left;
}

#control_bar_left
{
    position: absolute;
    left: 0.5em;
    top: 1em;
    text-align:left;
}

#instructions
{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 60em;
}

#modal_greyout
{
    position: absolute;
    top: 30px;
    min-height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: #202020;

    /* display: none; */
}



#pagepicker
{
    /* display: none; */
    position: absolute;
    max-height: 100%;
    width: 100%;
    top: 30px;
    z-index: 2;
}

#pagepicker > div
{
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 30em;
    margin-top: 1em;
    padding: 0 0 1em 1em;
    border: solid black 1px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

#pagepicker h1
{
    font-size: 1.3em;
    margin: 1em 0 0.5em 0;
}

#pagepicker table
{
    width:80%;
    margin: auto;
    overflow: auto;
    border: solid black 2px;
    text-align: center;
    border-collapse: collapse;

}

#pagepicker tr, #pagepicker td, #pagepicker th
{
    border: solid black 1px;
}

#pagepicker_controls
{
    margin-top: 2em;
    text-align: right;
}

button
{
    width: 10em;
}

#pagepicker_tables
{
    max-height: 30em;
    overflow: auto;
}

#control_bar
{
    position: relative;
    padding-top: 10px;
    text-align: right;
}

#title_bar
{
    position: absolute;
    width: 100%;
    height:25px;
    top: 0;
    left: 0;
    background-color: #C0C0FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px 0;
}

#title
{
    padding-left: 1em;
}

#page
{
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0 2px;
    text-align: center;
    background-color: #C0C0FF;
}

#page span
{
    border: 1px inset #C0C0FF;
    padding: 0 5px;
    margin: 0 5px;
}

#username
{
    text-align: right;
    color: grey;
    font-size: 0.8em;
}

div.current_line span
{
    cursor: pointer;
}

#status.warn
{
    background-color: red;
}

#cancel
{
    margin-right: 1em;
}

span.current
{
    color: #D00000;
}

div.blank_page
{
    text-align:center;
    padding: 2em;
    margin: 2em;
    border: 2px solid blue;
}