*
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: 0.9em;
    background-color: #606060;
}

#slider
{
    width:20em;
    font-size:0.8em;
    margin-top: 7px;
}


#image_container, #text_container, #editor, #title_bar, #control_bar, #spacer, #diffs
{
    position: relative;
    margin: 0 auto;
    width:800px;
    font-size: 1em;
}

#title_bar
{
    margin-top: 0;
    font-size: 1.15em;
}

#title_bar_right
{
    position: absolute;
    right:0px;
    top: 0px;
}

#close span
{
    padding: 0;
}

#spacer
{
    height: 16px;
    margin-bottom: 0;
}

#image_container, #text_container
{
    margin-top: 10px;
    height: 150px;
}

#images, #text
{
    height: 100%;
    overflow: auto;
    overflow-y: scroll; /*permanent scroll bars if supported*/
}

#editor
{
    display: none;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#diffs
{
    position: relative;
    margin: 3em auto 1em;
    font-family: 'PT Mono', monospace, sans;
    display: none;
}

#image_highlight
{
    z-index:1;
    border: blue 2px solid;
    height: 40px;
    margin-bottom: -40px;
    background-color: #A0A0FF;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#image_container img
{
    position: relative;
    width: 100%;
    /* width: 99%; /\*all browsers*\/ */
    /* width: -moz-calc(100% - 2px);/\*firefox*\/ */
    /* width: calc(100%-2px);/\*IE9 and future*\/ */
    height: auto;/*Fix for IE*/
    margin: auto;
    z-index:0;
    border-bottom: 3px dotted gray;
}


#context-image-top, #context-image-bottom
{
    position:relative;
 }


.grayout
{
    position:absolute;
    background-color: #A0A0A0;
    opacity: 0.3;
    z-index:1;
    top:0;
    height:100%;
    width:100%;
    filter: alpha(opacity=20);
}

.line
{
    white-space:pre;
    color: black;
    line-height: 1.5;
}

.blank
{
    min-height:21pt;
}

.line, .blank
{
    position: relative;
    padding-left:2em;
    font-size: 14pt;
    font-family: 'PT Mono', monospace, sans;
    background-color: white;
}

.linenum
{
    position: absolute;
    width: 2em;
    left: 2px;
    color: #B0B0B0;
    top: 2px;
    font-size:8pt;
}

.current_line
{
    background-color: #E0E0FF;
}


#editor textarea
{
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2em;
    padding-left: calc(2em - 1px);
    padding-left: -moz-calc(2em - 1px);
    height: 100%;
    font-size: 14pt;
    line-height: 1.5;
    font-family: 'PT Mono', monospace, sans;
    border: none;
    resize: none;
    background-color: #FFFFA0;
}

#control_bar.editor
{
    background-color: #FFFFA0;
}

span.error
{
    border-bottom: solid red 2px !important;
}

span.spell, span.warn
{
    border-bottom: solid orange 2px;
}

span.punc
{
    background-color: #A8FFA8;
}

#text_container.nohl span.punc
{
    background-color: transparent;
}

span.stealth
{
    border-bottom: solid green 2px;
}

span.digit
{
    background-color: #82B4FF;
}

#menu_bar
{
    position:relative;
    color:white;
    background-color: #C0C0FF;
    text-align: right;
    padding: 0.25em 1em;
}

#menu_bar_left
{
    position: absolute;
    left: 1em;
    top: 0;
}

#control_bar_left
{
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    text-align:left;
    color: white;
}

#control_bar_left label
{
    margin-left: 0.25em;
}

#instructions
{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 60em;
}

#pagepicker table
{
    width:80%;
    margin: 20px auto;
    overflow: auto;
    border: solid black 1px;
    text-align: center;
    border-collapse: collapse;

}

#pagepicker tr, #pagepicker td, #pagepicker th
{
    border: solid black 1px;
    padding: 0.2em 0.5em;
}

#pagepicker td, #pagepicker th
{
    font-size: 0.9em;
}

#pagepicker table a
{
    color: blue;
}

#control_bar .ui-button-text, #pagepicker .ui-button-text
{
    width: 8em;
    font-size: 0.9em;
    line-height: 1.1;
}


#control_bar
{
    position: relative;
    margin-top: 10px;
    text-align: right;
    padding: 3px 0px;
}

#close_editor, #submit
{
    margin-right:5px;
}

#close_editor
{
    display: none;
}

#control_bar.editor button, #control_bar.editor #control_bar_left
{
    display: none;
}

#control_bar.editor #close_editor
{
    display: inline;
}

#title
{
    padding-left: 1em;
    line-height: 1.6em;
}


#page
{
    position: absolute;
    top: 3px;
    right: 60px;
    padding: 0 2px;
    text-align: center;
    font-size: 0.9em;
}

#page span
{
    border: 1px inset #C0C0FF;
    padding: 0 5px;
    margin: 0 5px;
}

#username
{
    text-align: right;
    color: grey;
    font-size: 0.8em;
}

/* div.current_line span */
/* { */
/*     cursor: pointer; */
/* } */

#status
{
    background-color: #A0FFA0;
}

#status.warn
{
    background-color: red;
}

#cancel
{
    margin-right: 1em;
}

span.current
{
    color: #D00000;
}

div.blank_page
{
    text-align:center;
    padding-top: 1em;
    height: 100%;
    border: 2px solid blue;
    background-color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slider.ui-widget-content
{
    background: url("smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x  #CCCCCC;
}

span.diff_sub
{
    background-color: #FF8080;
}

span.diff_chg
{
    background-color: #FFFF00;
}

span.diff_add
{
    background-color: #80FF80;
}


.diff_header
{
    color: grey;
}

td
{
    font-size: 0.9em;
    padding: 0 0.25em;

}

tr.diffs_avbl
{
    background-color: #FFFF66;
}

#diffs .insert {
        background-color: #ddffdd;
        color: #000000;
    }
#diffs .insert .highlight {
        background-color: #aaffaa;
        color: #000000;
    }
#diffs .delete {
        background-color: #ffdddd;
        color: #000000;
    }
#diffs .delete .highlight {
        background-color: #ffaaaa;
        color: #000000;
    }

#diffs p
{
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #cccccc;
    padding: 0.25em 1em;
    display: inline;
    border-radius: 4px;
}

#diffs .ui-accordion-content
{
    padding-top: 0;
}

#diffs .ln
{
    font-size: 0.7em;
    color: #444444;
    min-width: 1.5em;
    margin-right: 0.5em;
    float: left;
}